Repository satsumalab/site, changes with the labels that .github/labeler.yml gives for each.
All labels: readme, content, profile, publication, news, frontpage, needs-review

Add files via upload
  content/authors/mazimbagirad/_index.md
  content/authors/mazimbagirad/avatar.jpeg
Labels: content, needs-review

updated wowchemy
  config/_default/config.yaml
  go.mod
  go.sum
Labels: needs-review

updated names, made alumni, added location
  assets/media/contact.jpg
  config/_default/params.yaml
  content/authors/ahmed-h.-shahin/_index.md
  content/authors/an-zhao/_index.md
  content/authors/ashkan-pakzad/_index.md
  content/authors/bojidar-rangelov/_index.md
  content/authors/burcu-ozaltin/_index.md
  content/authors/example/_index.md
  content/authors/example/avatar.jpg
  content/authors/eyjolfur-guðmundsson/_index.md
  content/authors/gabrielle-baxter/_index.md
  content/authors/gabrielle-baxter/avatar.jpg
  content/authors/john-mccabe/_index.md
  content/authors/john-mccabe/avatar.jpg
  content/authors/mehran-azimbagirad/_index.md
  content/authors/mehran-azimbagirad/avatar.jpeg
  content/authors/mou-cheng-xu/_index.md
  content/authors/shahab-aslani/_index.md
  content/authors/tony-cheung/_index.md
  content/authors/yaozhi-lu/_index.md
  content/home/map.md
  content/home/team.md
  content/people/people.md
  content/post/22-05-20-cmicaway2022/index.md
  content/publication/_index.md
  images/screenshot.png
  images/tn.png
Labels: content, publication, needs-review

removed broken link from MA
  content/authors/mehran-azimbagirad/_index.md
Labels: content, needs-review

reverted removal of required hugo version
  config/_default/config.yaml
Labels: needs-review

updated hugo version
  netlify.toml
Labels: needs-review

added pakzad clinics and miccai paper
  content/publication/pakzad2022-airway/cite.bib
  content/publication/pakzad2022-airway/featured.png
  content/publication/pakzad2022-airway/index.md
  content/publication/pakzad2022-bronchiectasis/cite.bib
  content/publication/pakzad2022-bronchiectasis/index.md
Labels: content, needs-review

add new paper
  content/publication/moucheng2022-miccai/index-md
Labels: content, needs-review

updated file ext. + added bib
  content/publication/moucheng2022-miccai/cite.bib
  content/publication/moucheng2022-miccai/index-md
  content/publication/moucheng2022-miccai/index.md
Labels: content, needs-review

Create index.md
  content/post/22-09-18-miccai2022/index.md
Labels: content, needs-review

Add files via upload
  content/post/11-05-2023-MICCAI/featured.jpg
  content/post/11-05-2023-MICCAI/index.md
Labels: content, needs-review

Add files via upload
  content/publication/Eyjulfur-2022-PPFE/cite.bib
  content/publication/Eyjulfur-2022-PPFE/featured.jpg
  content/publication/Eyjulfur-2022-PPFE/index.md
Labels: content, needs-review

Update index.md
  content/post/11-05-2023-MICCAI/index.md
Labels: content, needs-review

Update index.md 2
  content/post/11-05-2023-MICCAI/index.md
Labels: content, needs-review

Create index.md tmi
  content/publication/moucheng2023a-tmi/index.md
Labels: content, needs-review

added tcheung2023 paper
  content/publication/tcheung2023-eurrad/cite.bib
  content/publication/tcheung2023-eurrad/featured.png
  content/publication/tcheung2023-eurrad/index.md
Labels: content, needs-review

index.md
  content/authors/ashkan-pakzad/_index.md
Labels: content, needs-review

_index.md
  content/authors/mou-cheng-xu/_index.md
Labels: content, needs-review

updating the informaiton on two journal papers 2022 & 2023 from the NLST study
  content/publication/lu2022_nlst_mortality/index.md
  content/publication/lu2023_nlst_crnn/cite.bib
  content/publication/lu2023_nlst_crnn/featured.png
  content/publication/lu2023_nlst_crnn/index.md
Labels: content, needs-review

2023-09 updating satsuma front page
  content/post/23-09-29-NLSTCRNN/featured.jpg
  content/post/23-09-29-NLSTCRNN/index.md
Labels: content, needs-review

people.md
  content/people/people.md
Labels: content, needs-review

index.md
  content/authors/shahab-aslani/_index.md
Labels: content, needs-review

Add files via upload
  content/authors/shanshan-wang/_index.md
  content/authors/shanshan-wang/avatar.jpeg
Labels: content, needs-review

Add files via upload
  content/authors/helen-mcgregor/_index.txt
  content/authors/helen-mcgregor/avatar.jpg
Labels: content, needs-review

Add files via upload
  content/authors/helen-mcgregor/_index.md
  content/authors/helen-mcgregor/avatar.jpg
Labels: content, needs-review

fixing the mismatching single quotes
  content/publication/lu2023_nlst_crnn/index.md
Labels: content, needs-review

Add files via upload
  content/authors/shiyu-wang/Avatar.jpeg
  content/authors/shiyu-wang/_index.md
Labels: content, needs-review

Add files via upload
  content/authors/shiyu-wang/Avatar.jpeg
  content/authors/shiyu-wang/_index.md
Labels: content, needs-review

centime paper
  content/authors/ahmed-h.-shahin/avatar.jpg
  content/publication/ahmed2023-centime/cite.bib
  content/publication/ahmed2023-centime/featured.jpg
  content/publication/ahmed2023-centime/index.md
Labels: content, needs-review

Update author name Ahmed H. Shahin
  content/publication/lu2023_nlst_crnn/index.md
Labels: content, needs-review

Add files via upload
  content/authors/niccolo_mcConnell/_index.md
  content/authors/niccolo_mcConnell/avatar.jpeg
Labels: content, needs-review

Add files via upload
  content/authors/niccolo_mcConnell/_index.md
  content/authors/niccolo_mcConnell/avatar.jpeg
Labels: content, needs-review

Add files via upload
  content/authors/daryl-cheng/_index.md
  content/authors/daryl-cheng/avatar.jpeg
Labels: content, needs-review

Add files via upload
  content/authors/niccolo-mcConnell/_index.md
  content/authors/niccolo-mcConnell/avatar.jpeg
Labels: content, needs-review

Add files via upload
  content/authors/pardeep-vasudev/Avatar.jpg
  content/authors/pardeep-vasudev/_index.md
Labels: content, needs-review

Delete content/authors/niccolo_mcConnell directory
  content/authors/niccolo_mcConnell/_index.md
  content/authors/niccolo_mcConnell/avatar.jpeg
Labels: content, needs-review

Add files via upload
  content/authors/niccolo-mcConnell/_index.md
  content/authors/niccolo-mcConnell/avatar.jpeg
Labels: content, needs-review

Add files via upload
  content/authors/pardeep-vasudev/_index.md
  content/authors/pardeep-vasudev/avatar.jpg
Labels: content, needs-review

Add files via upload
  content/authors/adam-szmul/_index.md
  content/authors/adam-szmul/avatar.jpg
Labels: content, needs-review

Add files via upload
  content/authors/adam-szmul/Avatar.jpg
  content/authors/adam-szmul/_index.md
Labels: content, needs-review

.github/labeler.yml:

readme:
- README.md

content:
- content/**

profile:
- content/authors/*

publication:
- content/publication/*

news:
- content/post/*

frontpage:
- content/home/welcome.md

needs-review:
- '**'
